* {
    padding: 0;
    margin: 0;
}

.containerUs {
    justify-content: center;
    margin-top: 40px;
}

.logoPng {
    margin-bottom: 20px;
}

.descriptionUs {
    font-family: Josefin Sans;
    font-size: 0.6rem;
    font-weight: 300;
}

.titleUs {
    margin: 50px 0 20px 0;
    font-family: Josefin Sans;
    color: #2C2D41;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Large devices (desktops, 768px and up)*/
@media (min-width: 768px) { 
    .containerUs {
        display: flex;
        flex-direction: row;
    }
    .descriptionUs {
        font-size: 1.5rem;
        font-weight: 300;
    }
} 