* {
    margin: 0;
    padding: 0;
}

.fresh-product {
    position: relative;
}

.fresh-product {
    justify-items: center;
}
.container-text {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Josefin sans;
    color: #2C2D41;
}

.slogan {
    font-size: 0.7rem;
    font-weight: 700;
}

.claim {
    font-size: 0.5rem;
    font-weight:500 ;
}

.btn-shop {
    border-radius: 50px;
    height: 25px;
    width: 75px;
    background-color: #8E99AD;
    border: none;
    box-shadow: 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 120px;
    font-size: 0.8rem;
}

/* XSmall devices (desktops, 375px and up)*/
@media (min-width: 375px) { 
    .btn-shop {
        margin-bottom: 50px;
        height: 30px;
        width: 80px;
        margin-bottom: 80px;
    }
}   

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .container-text {
        position: absolute;
        top: 50%;
    }
    .slogan {
        font-size: 2rem;
        font-weight: 700;
    
    }
    .claim {
        font-size: 1.4rem;
    }
    .btn-shop {
        height: 50px;
        width: 100px;
        font-size: 1.2rem;
    }
}   

/* Large devices (desktops, 1024px and up)*/
@media (min-width: 1024px) { 
    .container-text {
        position: absolute;
        top: 60%;
    }
    .slogan {
        font-size: 2.4rem;
        font-weight: 700;
    
    }
    .claim {
        font-size: 1.8rem;
    }
    .btn-shop {
        height: 60px;
        width: 120px;
        font-size: 1.2rem;
    }
} 

/* XLarge devices (desktops, 1440px and up)*/
@media (min-width: 1440px) { 
    .container-text {
        position: absolute;
    }
    .slogan {
        font-size: 3rem;
        font-weight: 700;
    }
    .claim {
        font-size: 2.2rem;
    }
    .btn-shop {
        height: 60px;
        width: 120px;
        font-size: 1.2rem;
    }
} 


  
    
