*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(109, 131, 157);
    text-align: center;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #6d839d;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content P{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0 3rem;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    column-gap:36px;

}
  li{
    margin: 0 10px;
    color: white;
}
.socials a, .nodecoration
 {   text-decoration: none;
    color: white;
    
    
}
.socials a li{
    font-size: 1.1rem;
 

}
.socials a:hover  {
    color: red !important;
} 
 a:hover  {
    color: red !important;
} 
.footer-bottom{
    background: rgb(9, 9, 71);
    width: 100%;
    height: 70px;
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}


.text-white{
    color: white;
    font-size: 0.6rem;

}
