body {
  margin: 0;
}
.bg-danger {
  color: white;
}
h3 {
  color: #079f16;
}
::placeholder {
  text-align: center;
}
input {
  text-align: center;
}
.tag {
  opacity: 0;
}
.x_icon {
  opacity: 0;
}

@media (min-width: 1024px) {
  .general_div {
    width: 100%;
    height: 100vh;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    
  }
  .tag{
    text-align: start;
  }
  .img_div {
    width: 100%;
    height: 100%;
  }
  .img_div img {
    width: 100%;
  }
  .tag {
    opacity: 1;
  }
  .info_div {
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .buy_div {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .input_div {
    width: 50%;
  }
  .input_div input {
    width: 50%;
  }
  .button_div {
    width: 50%;
    text-align: center;
  }
  .button_div button {
    width: 100%;
    font-size: 80%;
  }
  .icon_div {
    width: 10%;
  }
  .x_icon {
    opacity: 1;
    font-size: 30px;
  }
}

@media (min-width: 1440px) {
   
}
@media (min-width: 1920px) {
    
}
