@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.text-alert {
  margin: auto;
  width: 400px;
}
.text-alert h3 {
  position: relative;
  font-size: 2rem;
  color: rgb(142, 153, 173, 1);
  --webkit-text-sroke: 0.3vw blue;
  text-transform: uppercase;
  text-align: left;
  word-break: break-all;
}

.text-alert h3::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: blue;
  --webkit-text-sroke: 0.3vw blue;
  border-right: 1px solid blue;
  overflow: hidden;
  animation: 6s animate infinite;
}

@keyframes animate {
  0%,
  90%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.image {
  width: 70px;
  height: 70px;
}

.content-header {
  font-family: inherit;
}

.email-text,
.password-text {
  font-size: 15px;
  font-family: inherit;
  text-align: left;
}

.form-input p {
  color: red;
}

.input-field {
  width: 450px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid rgb(216, 0, 40, 1);
}

button.form-input-btn {
  padding: 0 35px;
  height: 40px;
  border-radius: 20px;
  margin: 15px;
  font-size: 20px;
  font-family: inherit;
  color: white;
  background: rgb(142, 153, 173, 1);
  border: none;
}
button.form-input-btn:hover {
  width: 300px;
  height: 50px;
  font-size: 30px;
  background: linear-gradient(45deg, #01016387, red);
}

hr {
  display: inline-block;
  width: 250px;
  margin: 8px;
}

a.Btn-account {
  color: red;
  margin: 5px;
  font-family: inherit;
}

button.form-input-btn.google {
  width: 80%;
  background: rgb(44, 45, 65, 1);
  border: none;
}

button.form-input-btn.google:hover {
  width: 400px;
  height: 50px;
  font-size: 30px;
  background: linear-gradient(45deg, #01016387, red);
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .text-alert {
    width: 12.5em;
  }

  .content {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 3em;
    height: 3em;
  }

  .input-field {
    width: 9em;
  }

  button.form-input-btn.google {
    width: 40%;
  }

  hr {
    width: 9em;
  }
}